<header id="main-header">
  <div id="site-title">
    <img class="profile_roundcorners" src="/images/profile.jpg" alt="profile">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  <a href="{{ site.baseurl }}/" class="page-link{% if current == null %} active{% endif %}">Blog</a>
  {% for page in site.pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  <a href="mailto:{{ site.email }}" class="page-link github-link"><i class="fa fa-envelope"></i></a>
  <a href="https://github.com/StephanDollberg" target="_blank" class="page-link github-link"><i class="fa fa-github"></i></a>
  <a href="https://stackoverflow.com/users/893693/inf?tab=profile" target="_blank" class="page-link github-link"><i class="fa fa-stack-overflow"></i></a>
  <!-- <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="page-link">RSS</a> -->
  </div>
</header>
