<div class="entry">

	<div class="entry-content">

	  <header>
	    <h1 class="entry-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
	    <p class="entry-meta">
		    {{ page.date | date: "%b %-d, %y" }}
		    {% if page.category %} • category: {{ page.category|capitalize }}{% endif %}
	    </p>
	  </header>

	  <article class="entry-body">
			{{ page.excerpt }}
			{% if page.content contains '<!-- more -->' %}
			<p><a href="{{ page.url | prepend: site.baseurl }}">read more »</a></p>
			{% endif %}
	  </article>

  </div>

</div>
